#container {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
}

.row {
    display: flex;
    flex: 1;
}

.grid {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
}

.cell {
    flex: 1;
}

button {
    margin: 50px;
}
